:root {
    --main-bg-color: #15161b;
    --bg-color: #1c1e25;
    --widget-color: #24262e;

    --main-f-color: #FFFEF9;
    --second-f-color: #4b819c;
    --third-f-color: #fff;

    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    --border-radius: 1vw
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--main-bg-color);
}

.content {
    max-width: 1440px;
    width: 100%;
    display: flex;
    gap: 2vw;
    padding: 5vw;

}

.left-bar {
    width: 40%;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2rem;
}

.avatar {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2vw;
}

.avatar img {
    width: 50%;
}
.left-bar-title {
    text-align: left;
    color: var(--third-f-color);
}

.stack, .contacts {
    color: var(--second-f-color);
    font-size: 18px;
}

a {
    text-decoration: none;
    border-bottom: 1px solid red;
    color: var(--third-f-color);
}

.right-bar {
    width: 60%;
    background-color: var(--widget-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.right-bar-title {
    text-align: left;
    color: var(--third-f-color);
    margin-bottom: 5vh;
}

.experience {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.experience-title {
    color: var(--second-f-color);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.experience-text {
    color: var(--main-f-color);
}

@media screen and (max-width: 731px) {
    .content, .avatar {
        flex-direction: column;
    }

    .left-bar, .right-bar {
        width: 100%;
    }

    .avatar img {
        width: 100%;
        border-radius: 0;
    }
}

